<div class="ramdomKeysContainer padding-top-s padding-bottom-m">
    <h2 class="keysTitle">
        Generate Random Keys to Practice
    </h2>

    <div class="randomSelection">
            <mat-select placeholder="Type of progression" [(ngModel)]="specialProgression" name="ProgressionType" (change)="generateKeys()" class="selectOption">
                <mat-option *ngFor="let iOption of randomOptions" [value]="iOption">
                  {{iOption}}
                </mat-option>
            </mat-select>
            <button mat-raised-button color="primary" (click)="generateKeys()" class="generateButton margin-left-s">GENERATE</button>
    </div>

    <div class="keysDisplayer padding-top-l padding-bottom-m">
        <mat-grid-list cols="1" rowHeight="80" size="60%">
            <ng-template ngFor let-iKey [ngForOf]="keysArray" let-keyIndex="index">
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    <span class="keyCard padding-top-s padding-bottom-s">
                        {{iKey}}
                    </span>
                </mat-grid-tile>
            </ng-template>
        </mat-grid-list>
    </div>
</div>