<md-card class="rotineItemCard">
    <md-card-header>
    </md-card-header>
    <md-card-content>
        <md-grid-list cols="10" rowHeight="80">
            <md-grid-tile [colspan]="1" [rowspan]="4" [style.background]="'lightblue'">
                <md-form-field class="orderInput">
                    <input mdInput type="number" placeholder="#" required [(ngModel)]="routineItem.order">
                </md-form-field>
            </md-grid-tile>
            <md-grid-tile [colspan]="7" [rowspan]="1" [style.background]="'lightgreen'">
                <div class="topInput">
                    <div class="nameInput">
                        <md-form-field class="nameField">
                            <input mdInput placeholder="Name" required [(ngModel)]="routineItem.name">
                        </md-form-field>
                    </div>

                    <div class="durationInput">
                        <md-form-field class="durationField">
                            <input mdInput type="number" placeholder="Duration" required [(ngModel)]="routineItem.duration">
                        </md-form-field>
                    </div>
                </div>
            </md-grid-tile>
            <md-grid-tile [colspan]="2" [rowspan]="4" [style.background]="'lightblue'">
                <div class="centerDiv">
                    <div class="lastPosition">
                        <md-checkbox [(ngModel)]="routineItem.active">Active?</md-checkbox>
                    </div>
                    <div class="lastPosition">
                        <button md-raised-button color="primary" [disabled]="!routineItem.name || routineItem.name === '' || !routineItem.duration || routineItem.duration === 0 || !routineItem.order || routineItem.order === 0" (click)="saveRoutineItem()">
                            Save
                        </button>
                    </div>
                    <div class="lastPosition" *ngIf="isNew === false">
                        <button md-raised-button color="warn" (click)="deleteRoutineItem()">
                            Delete
                        </button>
                    </div>
                </div>
            </md-grid-tile>
            <md-grid-tile [colspan]="7" [rowspan]="1" [style.background]="'lightgreen'">
                <md-form-field class="descriptionField">
                    <input mdInput placeholder="Description" [(ngModel)]="routineItem.description">
                </md-form-field>
            </md-grid-tile>
            <md-grid-tile [colspan]="7" [rowspan]="1" [style.background]="'lightpink'">
                <div>
                    <md-form-field class="tagNameDiv">
                        <input mdInput placeholder="Tag Name" required [(ngModel)]="tagItem.tagName" maxlength="15">
                    </md-form-field>
                    <md-select placeholder="Tag Color" [(ngModel)]="tagItem.tagColor" name="TagColor">
                        <md-option *ngFor="let color of TAG_COLORS" [value]="color">
                          {{color}}
                        </md-option>
                    </md-select>
                </div>
                <div class="addTagButton">
                    <button md-button (click)="addTagItem()" [disabled]="!tagItem.tagName || tagItem.tagName === '' || !tagItem.tagColor">
                        Add Tag
                    </button>
                </div>
            </md-grid-tile>
            <md-grid-tile [colspan]="7" [rowspan]="1" [style.background]="'lightpink'">
                <md-chip-list>
                    <ng-template ngFor let-iTag [ngForOf]="routineItem.tags" let-tagIndex="index">
                        <tag [tagItem]="iTag"></tag>
                    </ng-template>
                </md-chip-list>
            </md-grid-tile>
        </md-grid-list>
    </md-card-content>
</md-card>
