.routineDisplayer {
    padding-left: 1em;
    padding-right: 1em;
}

.totalProgress {
    text-align: right;
    width: 100%;
}

.totalCard {
    background-color: #ECECEA;
}

.totalResult {
    margin-right: 1em;
}