<div class="routineDisplayer padding-top-m">
    <ng-template ngFor let-iTask [ngForOf]="listTasks" let-taskIndex="index">
        <div class="padding-bottom-s">
            <task [task]="iTask" (progressUpdated)="recalculateTotalProgress($event)"></task>
        </div>
    </ng-template>
    <div class="totalProgress padding-top-m">
        <mat-card class="totalCard">
            <div class="totalResult padding-top-s">
                <b>TOTAL TO DO: {{totalMinsToStudy}} min</b>
            </div>
            <div class="totalResult padding-bottom-s">
                <b>PROGRESS DONE: {{roundedProgressInMin}} min {{progressInPercentage}} %</b>
            </div>
        </mat-card>
    </div>
    <div class="resetProgress padding-top-s padding-bottom-s">
        <button mat-raised-button (click)="resetTodayTasks()">Reset today tasks</button>
    </div>
</div>
