:host :hover {
    background-color: aliceblue;
}

.taskItem {
    display: inline-flex;
    width: 100%;
}

.taskItem > div {
    padding: 10px;
    padding: 10px;
}

.taskOrder {
    width: 5%;
    text-align: center;
}

.taskName {
    width: 80%;
}

.taskDescription {
    width: 80%;
}

.taskDuration {
}

.taskActions {
    width: 15%;
    text-align: center;
    margin-right: 1em;
}

.startTaskButton {
    z-index: 1000;
}

.stopTaskButton {
    z-index: 1000;
}

.taskProgress {
    width: 10%;
}