.taskItem {
    display: inline-flex;
    width: 100%;
}

.taskItem > div {
    padding: 10px;
    padding: 10px;
}

.taskOrder {
    width: 5%;
    text-align: center;
}

.taskName {
    width: 80%;
}

.taskDescription {
    width: 80%;
}

.taskDuration {
}

.taskActions {
    width: 15%;
    text-align: center;
}

.startTaskButton {
}

.stopTaskButton {

}

.taskProgress {
    width: 10%;
}