<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Guitar Routine
  </h1>
</div>

<mat-tab-group>
    <mat-tab label="Today's Tasks">
        <routine-displayer class="padding-bottom-m"></routine-displayer>
    </mat-tab>
    <mat-tab label="Random Keys">
        <random-keys-generator useSharpsAndFlats="true" class="padding-bottom-m"></random-keys-generator>
    </mat-tab>
    <mat-tab label="Reading Trainer">
        <reading-trainer class="padding-bottom-m"></reading-trainer>
    </mat-tab>
    <mat-tab label="Statistics">
        <progress-chart></progress-chart>
    </mat-tab>
    <mat-tab label="Configure Routine">
        <routine-manager class="padding-bottom-m"></routine-manager>
    </mat-tab>
</mat-tab-group>
