<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Guitar Routine
  </h1>
</div>

<md-tab-group>
    <md-tab label="Today's Tasks">
        <routine-displayer class="padding-bottom-m"></routine-displayer>
    </md-tab>
    <md-tab label="Random Keys">
        <random-keys-generator useSharpsAndFlats="true" class="padding-bottom-m"></random-keys-generator>
    </md-tab>
    <md-tab label="Statistics">
        <progress-chart></progress-chart>
    </md-tab>
    <md-tab label="Configure Routine">
        <routine-manager class="padding-bottom-m"></routine-manager>
    </md-tab>
</md-tab-group>
