<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<md-tab-group>
    <md-tab label="Today's Tasks">
        <routine-displayer></routine-displayer>
    </md-tab>
    <md-tab label="Random Keys">
        <random-keys-generator useSharpsAndFlats="true"></random-keys-generator>
    </md-tab>
    <md-tab label="Configure Routine">
        <routine-manager></routine-manager>
    </md-tab>
</md-tab-group>
