<div class="routineItem">
    <div class="routineOrder">
        #{{routineOrder}}
    </div>

    <div class="routineName">
        {{routineName}}
    </div>

    <div class="routineDescription">
        {{routineDescription}}
    </div>

    <div class="routineDuration">
        {{routineDuration}} min
    </div>

    <div class="routineActions">
        <button (click)="startRoutine()" class="startRoutineButton" *ngIf="!startTime">START</button>
        <button (click)="stopRoutine()" class="stopRoutineButton" *ngIf="startTime">STOP!</button>
    </div>

    <div class="routineProgress">
        {{roundedTotalDuration}} min / {{percentageProgress}} %
    </div>
</div>