/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

md-card {
    display: block;
    padding: 0px !important;
}

md-card-content {
    display: block;
}

.rotineItemCard {
    width: 600px;
}

.font-size-s {
    font-size: 0.5em;
}

.font-size-l {
    font-size: 1.5em;
}

.padding-top-s {
    padding-top: 0.5em;
}

.padding-top-m {
    padding-top: 1em;
}

.padding-top-l {
    padding-top: 1.5em;
}

.padding-bottom-s {
    padding-bottom: 0.5em;
}

.padding-bottom-m {
    padding-bottom: 1em;
}

.padding-bottom-l {
    padding-bottom: 1.5em;
}