<div class="mainContainer">
    <div class="padding-top-m">
        <button mat-raised-button color="primary" (click)="recalculate()" class="margin-left-s">REFRESH</button>
    </div>

    <div class="padding-top-l">
        <canvas #chartElement class="chartContainer"></canvas>
    </div>

    <div class="center-table">
        <br />
        <b>TOTAL {{grandTotal}}h</b>
        <br />

        <table class="padding-top-m zui-table zui-table-zebra zui-table-horizontal">
            <thead>
                <tr>
                    <th mat-sort-header="name">Task Name</th>
                    <th mat-sort-header="timeSpent">Time spent (min)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let iKey of listKeys">
                    <td>{{idToLabel[iKey]}}</td>
                    <td>{{idToTotal[iKey]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>